<h1>Lista de registros: </h1>

{{#each registros}}

    <style>
         form {
    /* Apenas para centralizar o form na página */
    margin: 50 auto;
    width: 300px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 90px;
    text-align: right;
}
 textarea {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 1em sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #999;
}


 textarea:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: #000;
}


textarea {
    /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
    vertical-align: top;

    /* Para dar espaço suficiente para digitar algum texto */
    height: 20em;

    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
    resize: vertical;
}


textarea{
background-image: url("http://i.stack.imgur.com/yWNH7.png");
font-size:21px;
}
    </style>
  
   <form >
    <div>
        <label for="titulo"><h3>{{registros.titulo}}</h3></label>
        <label for="data"></label>
    </div>
    <div> 
        <textarea >{{dataValues.conteudo}}</textarea>
    </div>
    <button type="submit">voltar</button>
</form>

{{/each}}


